@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: darkgrey;
  }

  button {
    color: black;
    background-color: darkgrey;
  }
}

.controls {
  margin: 3em 0;
  display: grid;
  justify-items: center;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
}

button {
  height: 4em;
  margin: 4em 0;
  padding: 0 1.5em;
  width: fit-content;
}
